Repository tivac/modular-css, pull requests merged in 2019-09, with the labels that each got.

#667 feat(rollup-rewriter): let loader option be a function
  packages/rollup-rewriter/README.md
  packages/rollup-rewriter/formats/amd.js
  packages/rollup-rewriter/formats/es.js
  packages/rollup-rewriter/formats/system.js
  packages/rollup-rewriter/rewriter.js
  packages/rollup-rewriter/test/__snapshots__/rewriter.test.js.snap
  packages/rollup-rewriter/test/rewriter.test.js
Labels: feature, pkg:rollup-rewriter

#666 fix: use this.emitFile() API from rollup
  package-lock.json
  package.json
  packages/rollup/rollup.js
  packages/rollup/test/__snapshots__/splitting.test.js.snap
Labels: pkg:rollup

#668 test: Testing touchups
  package-lock.json
  package.json
  packages/rollup/test/__snapshots__/watch.test.js.snap
  packages/rollup/test/watch.test.js
  packages/svelte/test/__snapshots__/rollup.test.js.snap
  packages/svelte/test/rollup.test.js
  packages/test-utils/expect/toMatchDiffSnapshot.js
  packages/test-utils/rollup-watching.js
Labels: pkg:rollup, pkg:svelte

#673 feat: option to suppress value export
  packages/processor/README.md
  packages/processor/processor.js
  packages/processor/test/__snapshots__/options.test.js.snap
  packages/processor/test/options.test.js
Labels: feature, pkg:core
